@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poetsen+One&display=swap");
@import "tailwindcss";
@theme {
  --color-green: #54bd95;
  --font-abz: "ABeeZee", sans-serif;
  --font-inter: "Inter", sans-serif;
}
